.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #737373;
    p {
        cursor: pointer;
        font-size: 1.5em;
        font-weight: bolder;
        color: wheat;
    }
}